#menu ul {
    padding: 20px;
    margin: 0px;
    background-color: goldenrod;
}

#menu ul li {
    display: inline-table;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}

