img {
    width: 400px;
    height: 200px;
}

h1 {
    text-shadow: 2px -2px #ffab40 ;
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
}

h3 {
    width: 50%;
    text-align: center;
}

p:houver{
    background-color: #ffab40;
}

p {
    line-height: 1.5;
    text-transform: none;
    text-align: center;
    text-decoration: underline #ffab40;]animation-duration: 4s;
}

#caixa {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    border: 5px solid #ffab40;
}